* {
    margin: 0px;
    box-sizing: border-box;
}

.btn, .correct-btn, .held-btn {
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.btn {
    background-color: antiquewhite;
}

.correct-btn {
    background-color: green;
}

.held-btn {
    background-color: yellow;
}

.button-section {
    display: flex;
    justify-content: space-around;    
    padding: 50px;
    padding-bottom: 10px;

}

.question {
    padding: 50px;
    /* padding-top: 100px; */
    margin-bottom: 50px;
}

.question-text {
    font-family: 'Inter', sans-serif;
}

.start-page {
    /* padding: 50px; */
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.quizzicle {
    margin-top: 300px;
    font-size: 50px;
    color:cornflowerblue;
    /* margin-bottom: 50px; */
}

.start-btn {
    font-family: 'Inter', sans-serif;
    background-color:cadetblue;
    margin-top: 50px;
    height: 100px;
    width: 200px;
    text-align: center;
    align-content: center;
    padding: 40px;
    font-size: 20px;
    border-radius: 30px;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.final-btn {
    background-color: cadetblue;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    color: white;
    cursor: pointer;
}

.score {
    align-self: center;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight:700;
    font-size: 50px;
}

.main-content {
    padding: 50px;
    padding-top: 100px;
}